langchain
python-dotenv
langchain_openai
langchain_core
ipykernel
langchain-community
streamlit
langserve
fastapi
uvicorn
sse_starlette
langchain-ollama
bs4
chromadb
chroma
faiss-cpu
pypdf
Wikipedia
arxiv
langchainhub
groq
langchain-groq